/*

our css comment

*/

/*--header-- */

.head-wrapper {
  display: flex;
}

.head-wrapper div {
  width: 33.33%;
  height: 200px;
  border: 2px solid orange;
  flex: 1;
}

img {
  width: 50%;
  border-radius: 5px;
}

.header-nav li {
  display: inline-block;
  margin-right: 15%;
  list-style: none;
}

.header-nav li {
  text-decoration: none;
}

/*--body-- */

span {
  color: green;
}
/*--footer- */
footer {
  background: lightblue;
}
